FCS_TLSC_EXT.1/WLAN TLS Client Protocol (EAP-TLS for WLAN)

**Comment**
TLS 1.1 should not be allowed.  TLS 1.2 should be the threshold, with TLS 1.3 an objective goal

This comment was later struck and replaced with the following: 
"We are removing selection of TLS 1.3 for the time being, neither the TLS package not NDCPP TLS requirements currently support TLS 1.3. 

Instead, FCS_TLSC_EXT.1.1/WLAN should be modified to point to the TLS Package, as it supports the required cipher suites for EAP-TLS with WPA3."

Proposed resolution is to update FCS_TLSC_EXT.1.1/WLAN with an explicit list of cipher suites that is consistent with the TLS Package rather than explicitly reference the Package. The PP-Module does not claim conformance with the Package and so we can't selectively make an external reference to it. 

As the entire comment was struck, it is also assumed that the TLS 1.1 selection should not be removed either.

Proposal is to modify FCS_TLSC_EXT.1.1/WLAN as follows:
FCS_TLSC_EXT.1.1/WLAN The TSF shall implement TLS 1.2 (RFC 5246) and [selection: TLS 1.1 (RFC 4346), no other TLS version] in support of the EAP-TLS protocol as specified in RFC 5216 supporting the following cipher suites: [**selection:**
_•	TLS_RSA_WITH_AES_128_CBC_SHA as defined in RFC 5246, 
•	TLS_RSA_WITH_AES_128_CBC_SHA256 as defined in RFC 5246, 
•	TLS_RSA_WITH_AES_256_CBC_SHA256 as defined in RFC 5246, 
•	TLS_RSA_WITH_AES_256_GCM_SHA384 as defined in RFC 5288, 
•	TLS_DHE_RSA_WITH_AES_128_CBC_SHA256 as defined in RFC 5246, 
•	TLS_DHE_RSA_WITH_AES_256_CBC_SHA256 as defined in RFC 5246, 
•	TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 as defined in RFC 5288, 
•	TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256 as defined in RFC 5289, 
•	TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 as defined in RFC 5289, 
•	TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384 as defined in RFC 5289, 
•	TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 as defined in RFC 5289, 
•	TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 as defined in RFC 5289, 
•	TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 as defined in RFC 5289, 
•	TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 as defined in RFC 5289, 
•	TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 as defined in RFC 5289_
].

module updated per previous proposal 